<%- include('helpers/header', {title: "Artículo"}); %>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/dashboard">Law Maker&trade;</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            </div>
        </div>
    </nav>

    <main role="main" class="container">
        <h1 class="title mt-2 mb-4">Artículo (ADRI EL NÚMERO)</h1>

        <div class="card bg-light">
            <div class="card-header">
                    Motivación
            </div>
            <div class="card-body">
                <p class="card-text"><%= article.motivation %></p>
            </div>

            <!-------------------------------------------------
                [ ] Num. Votos favor, contra.
                [ ] 

            -------------------------------------------------->
        </div>

    </main>


    <%- include('helpers/footer'); %>