<%- include('helpers/header', {title: "Centro de trabajo"}); %>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Law Maker&trade;</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <!--
                <ul class="navbar-nav mr-auto">
                    
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Inicio </a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <button type="button" class="btn btn-outline-primary">
                        Iniciar sesión
                    </button>
                </form>
                -->
            </div>
        </div>
    </nav>

    <main role="main" class="container">
        <h1 class="title mt-2 mb-4">Centro de trabajo</h1>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-proposed-tab" data-toggle="tab" href="#nav-proposed"
                    role="tab" aria-controls="nav-proposed" aria-selected="true">Propuestos</a>
                <a class="nav-item nav-link" id="nav-closed-tab" data-toggle="tab" href="#nav-closed" role="tab"
                    aria-controls="nav-closed" aria-selected="false">Cerrados</a>
                <a class="nav-item nav-link" id="nav-need-work-tab" data-toggle="tab" href="#nav-need-work" role="tab"
                    aria-controls="nav-need-work" aria-selected="false">Necesitan trabajo</a>
                <a class="nav-item nav-link" id="nav-following-tab" data-toggle="tab" href="#nav-following" role="tab"
                    aria-controls="nav-following" aria-selected="false">En seguimiento</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-proposed" role="tabpanel" aria-labelledby="nav-proposed-tab">
                <table id="proposed" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Art.</th>
                            <th>Título</th>
                            <th>Etiquetas</th>
                            <th>Seguimiento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Art.</th>
                            <th>Título</th>
                            <th>Etiquetas</th>
                            <th>Seguimiento</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="tab-pane fade" id="nav-closed" role="tabpanel" aria-labelledby="nav-closed-tab">
                <table id="closed" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Art.</th>
                            <th>Título</th>
                            <th>Etiquetas</th>
                            <th>Seguimiento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">3.12.2</a></td>
                            <td>Sobre la tecnología en la abogacía.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#IT</a>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#hackathon</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Dejar de seguir</button>
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                        <td> <a href="/article/3333554">3.12.2</a></td>
                        <td>Sobre la tecnología en la abogacía.</td>
                        <td>
                            <a href="#" class="badge badge-warning">#IT</a>
                            <a href="#" class="badge badge-warning">#legal</a>
                            <a href="#" class="badge badge-warning">#hackathon</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">Dejar de seguir</button>
                        </td>
                        </tr>
                        <tr>
                            <td> <a href="/article/3333554">4.13.22</a></td>
                            <td>Abogacía en la tecnología.</td>
                            <td>
                                <a href="#" class="badge badge-warning">#legal</a>
                                <a href="#" class="badge badge-warning">#civil</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Seguir</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Art.</th>
                            <th>Título</th>
                            <th>Etiquetas</th>
                            <th>Seguimiento</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="tab-pane fade" id="nav-need-work" role="tabpanel" aria-labelledby="nav-need-work-tab">

            </div>
            <div class="tab-pane fade" id="nav-followed" role="tabpanel" aria-labelledby="nav-followed-tab">

            </div>
        </div>
    </main>
    <!-- /.container -->

    <%- include('helpers/footer'); %>