<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script>
    window.jQuery ||
        document.write(
            '<script src="/bootstrap/js/jquery-slim.min.js"><\/script>'
        );
</script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"
    integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous">
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>


<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>


<script>
    $(document).ready(function () {
        $('table').DataTable();
    });
</script>


</body>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <h5 class="mb-1">Law Maker&trade;</h5>
    <ul class="list-inline">
        <li class="list-inline-item">Adrián Arroyo Calle</li>|
        <li class="list-inline-item">Héctor Sáenz Niño</li>
    </ul>
</footer>

</html>